/*global style*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 90%;
}


/* Start Navbar style*/

.navbar {
    background-color: #00001a;
    opacity: 1;
    height: 10vh;
}

.navbar a {
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    color: #0077dd;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #0077dd;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0077dd;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0077dd !important;
}

.navbar-nav {
    text-align: center;
    margin-left: 50px;
}

.nav-link {
    padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #0077dd;
}


/*navbar search style*/

.search-box {
    position: absolute;
    top: 50%;
    left: 71.5%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #FFF;
    font-size: 16px;
    transition: .4s;
    line-height: 40px;
    width: 0px;
}

.search-btn {
    color: #000000;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #156ce6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.search-box:hover>.search-txt {
    width: 90px;
    padding: 0;
    padding-left: 5px;
}

.search-box:hover>.search-btn {
    background: #FFF;
}

.search::placeholder {
    color: #FFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0077dd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #F4F4F4;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* End Navbar Style*/


/* Start Carousel Style*/

.carousel-item {
    height: 100vh;
    min-width: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    color: #0077dd;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Merienda', cursive;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: #0077dd;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    margin-left: 50px;
    transition: all .5s ease-in-out;
}

.carousel-caption a:hover {
    background-color: transparent;
    color: #0077dd;
}


/* End Carousel Style*/

.about {
    margin-top: 80px;
    margin-bottom: 80px;
}


/*================================*/


/*Start style image overlay*/

.images img {
    width: 100%;
    height: 100%;
}

.ftco-about .thumb:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 4px solid #0077dd;
    opacity: 0;
}

.view {
    position: relative;
    width: 50%;
}

.view .image {
    display: block;
    width: 100%;
    height: auto;
}

.view .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.view:hover .overlay {
    width: 100%;
    left: 0;
}

.view .text {
    color: #0077dd;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


/*================================*/


/*End style image overlay*/


/*Style info*/

.about .info {
    flex: 50%;
    max-width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.about .info h5 {
    color: #0077dd;
    font-weight: bold;
    margin-top: 10px;
}

.about .info h1 {
    margin: 15px 0;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 4px;
}

.about .info h1 span {
    display: block;
    color: #0077dd;
}

.about .info p {
    margin-top: 15px;
    line-height: 2.1;
    color: rgb(155, 150, 150);
}

.about .info a {
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 20px;
    cursor: pointer;
    color: #FFF;
    background: #0077dd;
    border: 1px solid #0077dd;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
}

.about .info a:hover {
    color: #0077dd;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid #0077dd;
}


/* Start Services Style*/

.sevices {
    background-color: #eee;
    padding: 60px;
}

.sevices .servi {
    margin: 90px auto;
    text-align: center;
}

.sevices .servi h1 {
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #0077dd;
    font-weight: bold;
}

.sevices .servi p {
    font-family: Arial;
}

.sevices .servi h1::after {
    content: '';
    background: #000;
    display: block;
    width: 250px;
    height: 3px;
    margin: 10px auto;
}

.icon {
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    background: linear-gradient(45deg, #011846 0%, #0077dd 100%);
    transform: rotate(45deg);
}

.icon i {
    font-size: 40px;
    transform: rotate(-45deg);
    color: #FFF;
}

.sevices .col-lg-3:hover {
    box-shadow: 5px 7px 9px -3px rgba(0, 0, 0, .6);
    cursor: pointer;
}


/* End Services Style*/


/* Section counter in page section 3*/

.ftco-counter {
    background: rgba(0, 0, 0);
    padding: 80px;
}

.ftco-counter .text .number {
    font-size: 35px;
    font-family: 'Merienda';
    color: #FFF;
}

.ftco-counter .text span {
    color: #0077dd;
    font-weight: bold;
    font-size: 18px;
}


/*Section trainers*/


/*Start Swiper*/

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide p {
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.swiper-slide:hover {
    box-sizing: border-box;
    border: 5px solid #0077dd;
    transition: all .5s ease-in-out;
}

.swiper-slide:hover p {
    opacity: 1;
}


/*End swiper*/


/* swiper trainer*/

.trainers {
    background-color: #000;
    padding: 70px;
}

.trainers .section1 h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 10px;
    color: #f4f4f4;
}

.trainers .section1 h2 span {
    color: #0077dd;
}

.trainers .section1 p {
    color: rgb(206, 206, 206);
    padding-bottom: 10px;
}


/*Section Pricing */

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.pricing {
    background-color: #f4f4f4;
    font-family: "Play", sans-serif;
}

.pricing .container {
    width: 100%;
}

.pricing .packages {
    margin: 20px;
    width: 300px;
    padding-bottom: 1.5em;
    height: 100%;
    background-color: #1e2321;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
    flex-wrap: wrap;
    color: #f4f4f4;
}

.pricing .packages h1 {
    font-size: 25px;
    padding-top: 25px;
    color: #F4F4F4;
}

.pricing h1,
.pricing h2 {
    font-size: 30px;
    padding-top: 5px;
    color: #0077dd;
}

.pricing .list li {
    font-size: 20px;
    list-style: none;
    border-bottom: 1px solid #f4f4f4;
    padding-inline-start: 0;
    border-width: 1px;
    padding: 10px;
}

.pricing .first {
    margin-top: 40px;
    border-top: 1px solid #f4f4f4;
}

.pricing .list {
    width: 80%;
}

.pricing ol,
.pricing ul {
    padding: 0;
}

.pricing .top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing input,
.pricing label {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

.pricing .button3 {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.4em;
    margin: 15px 15px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.pricing .button:hover {
    transform: scale(1.2);
}

.pricing .button3 {
    background-color: #0077dd;
}

.pricing .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.pricing .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.pricing .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e2321;
    -webkit-transition: 0.4s;
    box-shadow: 2px 6px 25px #1e2321;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
}

.pricing .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.pricing input:checked+.slider {
    background-color: #50bfe6;
}

.pricing input:focus+.slider {
    box-shadow: 0 0 1px #50bfe6;
}

.pricing input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.pricing .slider.round {
    border-radius: 34px;
}

.pricing .slider.round:before {
    border-radius: 50%;
}

.pricing .package-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/*start Style Testmonils*/

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.testimonial6 {
    font-family: "Montserrat", sans-serif;
    color: #0077dd;
    font-weight: 300;
    background-color: #fff;
}

.testimonial6 h1,
.testimonial6 h2,
.testimonial6 h3,
.testimonial6 h4,
.testimonial6 h5,
.testimonial6 h6 {
    color: #0077dd;
}

.testimonial6 .font-weight-medium {
    font-weight: 600;
}

.testimonial6 h5 {
    line-height: 22px;
    font-size: 18px;
}

.testimonial6 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 16px;
}

.testimonial6 .testi6 {
    border-right: 1px solid rgba(120, 130, 140, 0.13);
}

.testimonial6 .testi6 .nav-link {
    border-radius: 0px;
    margin: 8px -2px 8px 0;
}

.testimonial6 .testi6 .nav-link img {
    width: 70px;
    opacity: 0.5;
}

.testimonial6 .testi6 .nav-link.active {
    background: transparent;
    color: #8d97ad;
    border-right: 3px solid #0077dd;
}

.testimonial6 .testi6 .nav-link.active img {
    opacity: 1;
}

.testimonial6 .btn-danger {
    background: #ff4d7e !important;
    border: 1px solid #ff4d7e !important;
}

.testimonial6 .btn-md {
    padding: 18px 0px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}


/*Section Form Calculate*/

div.calculat {
    padding-bottom: 40px;
}

div.calculat form .form-group input {
    width: 270px;
    height: 60px;
    margin-top: 30px;
    padding: 12px;
    font: 20px tahoma;
    border-radius: 8px;
    border: 1px solid #aaa;
}

div.calculat form .form-group button {
    padding: 10px;
    width: 270px;
    background-color: #0077dd;
    color: #fff;
    font: 20px arial;
    border-radius: 30px;
    border: 2px solid #0077dd;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    transition: ease all 0.3s;
}

div.calculat form .form-group button:hover {
    color: #0077dd;
    background-color: #fff;
}

div.calculat form .form-group button.bmi {
    padding: 10px;
    width: 270px;
    background-color: #0077dd;
    color: #fff;
    font: 20px arial;
    border-radius: 30px;
    border: 2px solid #0077dd;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    transition: ease all 0.3s;
}

div.calculat form .form-group button.bmi:hover {
    color: #0077dd;
    background-color: #fff;
}


/*Footer*/

.page-footer {
    background-color: #111;
    color: #ccc;
    margin-top: 50px;
}

.page-footer a i {
    font-size: 30px;
    margin: 10px;
}


/* Start Responsive css*/

@media only screen and (max-width: 991px) {
    .navbar-nav {
        background: rgba(0, 0, 0, 0.6);
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #FFF;
    }
}

@media(max-width:766px) {
    .carousel-caption h5 {
        font-size: 20px;
    }
    .carousel-caption p {
        font-size: 12px;
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-nav.ml-auto {
        background: rgba(0, 0, 0, 0.5);
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #FFF;
    }
}

@media (max-width: 767px) {
    .carousel-caption h5 {
        font-size: 20px;
    }
    .carousel-caption p {
        font-size: 12px;
        display: none;
    }
    .testimonial6 .testi6 .nav-link {
        margin: 0px 0px -2px 0;
        padding: 10px;
    }
    .testimonial6 .testi6 {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        border-right: 0px solid rgba(120, 130, 140, 0.13);
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        margin-bottom: 40px;
    }
    .testimonial6 .testi6 .nav-link img {
        width: 40px;
    }
    .testimonial6 .testi6 .nav-link.active {
        border-right: 0px solid #0077dd;
        border-bottom: 3px solid #0077dd;
    }
}


/* End Responsive css*/